@media screen and (max-width:1024px) {
    p {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .main_container {
        padding: 15px 80px;
    }

    /* Link-Header */
    .w_pfont {
        margin-left: 10px;
    }

    /* Navbar */
    .navbar-brand > img {
        width: 130px;
        height: auto;
    }

    .nav-item {
        margin: 0px 5px;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-link {
        font-size: 12px;
    }

    .main-btn{
        font-size: 12px;
        padding: 10px 18px !important;
    }

    .sticky {
        padding: 8px 80px !important;
    }

    /* Section-1 */
    #first_part_one {
        padding: 100px 0px;
    }

    #first_part_one > h1 {
        font-size: 30px;
    }

    #first_part_one > h6 {
        font-size: 16px;
        margin: 10px 0px;
    }

    #first_part_one > p {
        font-size: 12px;
        margin: 15px 0px;
    }

    /* Section-2 */
    .heading_title {
        padding: 0px 16px !important;
    }

    .heading_title > h3 {
        font-size: 23px;
    }

    .heading_title > p {
        font-size: 12px;
        margin-top: 22px;
    }

    .why_choose {
        padding: 25px 30px !important;
    }

    .why_choose:hover {
        transform: scale(1.03);
    }

    .why_choose_icon {
        width: 35px;
        height: 35px;
    }

    .why_choose > h6 {
        font-size: 14px;
    }


    /* Section-3 */
    .about_us_svg > svg {
        width: 38px;
        height: auto;
    }

    .about_us_point > h6 {
        font-size: 14px;
    }

    .heading_title > p {
        margin-top: 5px;
    }

    /* Section-4 */
    .counter-card {
        padding: 25px 15px !important;
    }

    .counter-box > svg {
        width: 40px;
        height: auto;
        margin: 7px 0px;
    }

    .counter-box > h6 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    /* Section-5 */
    .service-body {
        padding: 20px 18px !important;
    }

    .service-card {
        padding: 20px 32px !important;
        border-radius: 10px;
    }
    

    .service-card > svg {
        width: 30px;
        margin: 8px 0px;
    }

    .service-card > h6 {
        font-size: 15px;
        font-weight: 600;
    }

    /* Section-6 */
    .form-control {
        padding: 10px 12px !important;
        font-size: 12px;
        border-radius: 5px;
    }

    #glass_blur_bg {
        padding: 30px 40px;
        margin: 30px 0px;
        border-radius: 20px;
    }

    /* Secction-7 */
    #exTab2 .nav-link {
        font-size: 12px;
        margin: 3px 0px;
        border-right: 1px solid rgba(207, 207, 207, 1);
    }

    #exTab2 h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }


    /* Section-9 */
    .accordion-button {
        font-size: 13px;
        padding: 12px 20px !important;
    }

    .accordion-body {
        font-size: 12px;
    }

    .accordion-body:not(.collapsed) {
        padding: 0px 20px 10px 20px;
    }

    .accordion-item {
        margin: 15px 0px;
    }
    
    /* Section-11 */
    .contect {
        padding: 40px;
        border: 2px solid rgba(20, 141, 190, 1);
        border-radius: 12px;
    }

    .contect-address {
        margin: 28px 0px;
    }

    .contect h3 {
        font-size: 23px;
    }

    .address-svg {
        width: 40px;
        margin-right: 10px;
    }

    .contect-address h6 {
        font-size: 16px;
        margin: 1px 0px;
    }

    .connect_icon svg {
        width: 25px;
        margin: 0px 8px;
    }

    .input-group label {
        font-size: 14px;
    }

    .input-group input {
        height: 40px;
        font-size: 12px;
        padding: 0 10px;
        border-radius: 5px !important;
    }

    .input-group input:focus~label, .input-group input:valid~label {
        font-size: 12px;
    }

    .message_label textarea {
        height: 110px;
        font-size: 12px;
        padding: 0 10px;
    }

    .sub_btn {
        font-size: 12px;
        border-radius: 3px;     
    }


    /* Footer */
    .footer-item {
        padding: 0px;
    }

    footer img {
        width: 140px;
        height: auto;
        margin-bottom: 5px;
    }

    .footer_icon svg {
        width: 20px;
        margin-right: 13px;
        cursor: pointer;
    }

    .footer-item label {
        font-size: 15px;
        margin: 5px 0px;
    }

    .footer-item > div{
        padding: 0px 10px;
    }
}

@media screen and (max-width:768px) {
    .main_container {
        padding: 15px 40px;
    }

    p {
        font-size: 11px;
    }

    /* Link-Headre */
    .link_header svg{
        width: 15px;
        height: 15px;
    }

    .link_header_icon > svg {
        margin-left: 10px;
    }

    /* Navbar */
    .sticky {
        position: unset;
        z-index: unset;
    }

    .navbar{
        padding: 0px;
    }

    .navbar-brand > img {
        width: 100px;
        height: auto;
    }

    .navbar-light .navbar-toggler {
        border: 0px;
    }

    .navbar-toggler:focus {
        box-shadow: none; 
    }

    .toggler-icon > svg{
        width: 30px;
        height: auto;
    }


    /* Section-1 */
    #first_part_one {
        padding: 60px 0px;
    }

    #first_part_one > h1 {
        font-size: 25px;
    }

    #first_part_one > h6 {
        font-size: 14px;
        margin: 7px 0px;
    }

    #first_part_one > p {
        font-size: 11px;
        margin: 12px 0px;
    }

    .main-btn {
        font-size: 11px;
        padding: 10px 20px !important;
    }

    /* Section-2 */
    .heading_title > h3 {
        font-size: 20px;
    }

    .heading_title > p {
        margin-top: 15px;
    }

    .underline {
        position: relative;
        margin: 5px 0px;
    }

    .underline:after {
        height: 3px;
    }

    .why_choose {
        padding: 18px 28px !important;
    }
    
    .why_choose_icon {
        width: 30px;
        height: 30px;
    }
    
    .why_choose > h6 {
        font-size: 12px;
    }

    /* Section-3 */
    .about_us_svg > svg {
        width: 40px;
        height: auto;
    }

    /* Section-4 */
    .counter-card {
        padding: 15px 15px !important;
    }

    /* Section-5 */
    .service-body {
        padding: 15px 15px !important;
    }

    .card-odd{
        background-color: rgba(188, 231, 240, 1) !important;
    }

    .card-even{
        background-color: rgba(251, 226, 134, 1) !important;
    }

    .service-card {
        padding: 15px 20px !important;
        border-radius: 8px;
    }

    .service-card > svg {
        width: 25px;
        margin: 6px 0px;
    }

    .service-card > h6 {
        font-size: 14px;
        font-weight: 600;
    }

    /* Section-6 */
    #glass_blur_bg {
        padding: 25px 35px;
        margin: 18px 0px;
        border-radius: 15px;
    }

    /* Section-7 */
    .nav-tabs {
        display: contents;
    }

    #exTab2 .nav-link {
        font-size: 12px;
        margin: 3px 15px;
        border-right: 0px !important;
        border-bottom: 1px solid rgba(207, 207, 207, 1);
    }


    #exTab2 .nav-link.active {
        color: rgb(255 255 255) !important;
        background-color: rgba(20, 141, 190, 1);
        border-bottom: 2px solid rgba(20, 141, 190, 1) !important;
    }

    /* Section-9 */
    #questions {
        padding: 5px 0px;
    }

    .accordion-button {
        font-size: 12px;
        padding: 10px 15px !important;
    }

    .accordion-body:not(.collapsed) {
        padding: 0px 30px 10px 15px;
    }

    /* Section-10 */
    #gallery {
        padding-top: 0px;
    }

    #gallery_img {
        padding: 15px 5px;
    }

    /* Section-11 */
    .contect {
        padding: 25px;
    }

    .address-svg {
        width: 30px;
        margin-right: 10px;
    }

    .contect h3 {
        font-size: 18px;
    }

    .contect-address {
        margin: 23px 0px;
    }

    .contect-address h6 {
        font-size: 14px;
        margin: 1px 0px;
    }

    .connect_icon svg {
        width: 20px;
        margin: 0px 5px;
    }

    .input-group label {
        font-size: 12px;
    }

    .input-group input {
        height: 35px;
    }

    .input-group input:focus~label, .input-group input:valid~label {
        font-size: 11px;
    }

    .message_label textarea {
        height: 90px;
        padding: 5px 13px;
    }

    .message_label>label {
        font-size: 13px;
        padding: 0 3px;
    }

    .message_label textarea:focus~label, .message_label textarea:valid~label {
        font-size: 11px;
    }

    .sub_btn {
        font-size: 11px;
    }

    /* Footer */
    footer img {
        width: 120px;
        margin-bottom: 0px;
    }

    .nav-link {
        font-size: 11px;
    }

    .footer-item label {
        font-size: 14px;
        padding: 8px 0px;
        margin: 0px;
    }
}

@media screen and (max-width:426px) {
    .main_container {
        padding: 10px 20px;
    }

    p{
        font-size: 10px;
    }

    /* Link-Header */
    .link_header_icon {
        display: none;
    }

    .w_pfont {
        margin-left: 5px;
    }

    .link_header svg {
        width: 13px;
        height: 13px;
    }

    .sticky {
        padding: 5px 35px !important;
    }

    /* Section-1 */
    #first_part_one {
        padding: 25px 0px;
    }

    #first_part_one > h1 {
        font-size: 20px;
    }

    #first_part_one > h6 {
        font-size: 12px;
        margin: 5px 0px;
    }

    .main-btn {
        font-size: 9px;
        padding: 8px 15px !important;
    }

    /* Section-2 */
    .heading_title > h3 {
        font-size: 15px;
        margin-top: 5px;
    }

    .heading_title > p {
        font-size: 10px;
        margin-top: 10px;
    }

    .why_choose {
        padding: 10px 35px !important;
        border-radius: 5px;
    }

    .why_choose:hover {
        transform: scale(1.01);
    }

    .why_choose_icon {
        width: 25px;
        height: 25px;
    }

    .why_choose > h6 {
        font-size: 11px;
        margin: 5px 0px;
    }

    /* Section-3 */
    .about_us_svg > svg {
        width: 30px;
        height: auto;
    }

    .about_us_point > h6 {
        font-size: 11px;
        margin-bottom: 3px;
    }

    /* Section-4 */
    .counter-box > svg {
        width: 35px;
    }

    .counter-box > h6 {
        font-size: 15px;
        margin-bottom: 3px;
    }

    /* Section-5 */
    .service-card > h6 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0px !important;
    }

    /* Section-6 */
    .appointment {
        background-position-x: center !important;
    }

    #glass_blur_bg {
        padding: 25px 25px;
        margin: 10px 0px;
        border-radius: 15px;
    }

    /* Section-7 */
    .nav-item {
        margin: 0px 2px;
    }

    #exTab2 .nav-link {
        font-size: 10px;
        margin: 10px 0px;
        border-right: 0px !important;
        border-bottom: 1px solid rgba(207, 207, 207, 1);
        padding: 10px 10px;
        background-color: #f6f6f6;
        border-radius: 5px;
    }

    #exTab2 h3 {
        font-size: 13px;
        margin: 10px 0px;
    }

    /* Section-9 */
    .accordion-button {
        font-size: 10px;
        padding: 10px 15px !important;
    }

    .accordion-body {
        font-size: 9px;
    }

    .accordion-body:not(.collapsed) {
        padding: 0px 26px 10px 15px;
    }

    /* Section-10 */
    #gallery {
        padding-top: 10px;
    }

    /* Section-11 */
    .contect {
        padding: 20px;
        border-radius: 10px;
        margin: 10px 0px;
    }

    .contect h3 {
        font-size: 15px;
    }

    .contect-address {
        margin: 15px 0px;
    }

    .address-svg {
        width: 25px;
        margin-right: 8px;
    }

    .contect-address h6 {
        font-size: 12px;
    }

    .connect_icon svg {
        width: 16px;
        height: 25px;
        margin-right: 5px;
    }

    /* Footer */
    footer img {
        width: 100px;
        margin-bottom: 5px;
    }

    .footer_icon svg {
        width: 17px;
        margin-right: 10px;
        height: auto;
    }

    .footer-item label {
        font-size: 13px;
        padding: 0px 0px;
        margin-top: 15px;
    }

    .nav-link {
        font-size: 10px;
    }
}